<div class="container">
    <div style="border-inline-end: 1px solid #ccc;width: 30vw;">
        <mat-tab-group style="height: 100vh;">
            <mat-tab label="رویداد های عضو شده">
                <div class="events">
                    <div class="event" *ngFor="let event of joinedEvents" mat-ripple (click)="OpenEvent(event)"
                        [style.background-color]="selectedEvent?.eventId == event.eventId ? '#3a86ff' : '#fff'">
                        <div class="details">
                            <div class="name">
                                <span nz-popover nzPopoverTitle="توضیحات" [nzPopoverContent]="event.description"
                                    nzPopoverPlacement="bottomRight">{{ event.name }}
                                </span>
                            </div>
                            <div *ngIf="event.tag.length > 0" class="tags">
                                <span>تگ ها: </span>
                                <span *ngFor="let tag of event.tag.slice(0, event.tag.length-1)">
                                    {{tag + ' - '}}
                                </span>
                                <span>
                                    {{event.tag[event.tag.length-1]}}
                                </span>
                            </div>
                        </div>
                        <div class="time">
                            {{jalaliDate(event.when)}}
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="رویداد های ساخته شده">
                <div class="events">
                    <div class="event" *ngFor="let event of makedEvents" mat-ripple (click)="OpenEvent(event)"
                        [style.background-color]="selectedEvent?.eventId == event.eventId ? '#3a86ff' : '#fff'">
                        <div class="details">
                            <div class="name">
                                <span nz-popover nzPopoverTitle="توضیحات" [nzPopoverContent]="event.description"
                                    nzPopoverPlacement="bottomRight">{{ event.name }}
                                </span>
                            </div>
                            <div *ngIf="event.tag.length > 0" class="tags">
                                <span>تگ ها: </span>
                                <span *ngFor="let tag of event.tag.slice(0, event.tag.length-1)">
                                    {{tag + ' - '}}
                                </span>
                                <span>
                                    {{event.tag[event.tag.length-1]}}
                                </span>
                            </div>
                        </div>
                        <div class="time">
                            {{jalaliDate(event.when)|date}}
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>

    <div *ngIf="!selectedEvent" class="no-event-selected"></div>
    <div *ngIf="selectedEvent" class="event-details">
        <div class="header">
            <span class="name">
                {{selectedEvent.name}}
            </span>
        </div>
        <div class="content">
            <div class="date-time">
                <div class="date">
                    <span style="font-weight: 600;">تاریخ برگزاری رویداد : </span>
                    <span>{{jalaliDate(selectedEvent.when) | date : 'dd-MM-yyyy'}}</span>
                </div>
                <div class="time">
                    <span style="font-weight: 600;">زمان برگزاری رویداد : </span>
                    <span>{{CalculateTime(selectedEvent.when)}}</span>
                </div>
            </div>

            <div class="tag-title">
                تگ های این رویداد :
            </div>

            <mat-chip-listbox>
                <mat-chip *ngFor="let tag of selectedEvent.tag">
                    {{tag}}
                </mat-chip>
            </mat-chip-listbox>

            <div class="max-number">
                <span style="font-weight: 600;">حداکثر تعداد اعضا : </span>
                <span>{{selectedEvent.memberLimit}}</span>
            </div>

            <div class="members">
                <span style="font-weight: 600;">افراد شرکت کننده : </span>
                <div style="border: solid 1px #ccc;border-radius: 0.5rem;margin-top: 1rem;">
                    <div class="member" *ngFor="let member of selectedEvent.members; let i =index"
                        [style.border-bottom]="i == selectedEvent.members.length-1 ? 'none':'border-bottom: 1px solid #ccc;'">
                        <div class="group">
                            <div class="name">
                                <span class="firstname" nz-popover
                                    nzPopoverPlacement="bottomRight">{{member.userName}}</span>
                                <span class="username" nz-popover
                                    nzPopoverPlacement="bottomRight">{{member.userName}}</span>
                            </div>

                            <div class="img-member">
                                <span>
                                    <img class="image-member" *ngIf="member.image && member.image !== ''"
                                        [src]="member.image">
                                    <img class="image-member" *ngIf="!member.image || member.image === ''"
                                        src="/assets/profile.svg">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="description-title">
                توضیحات :
            </div>

            <div class="description">
                {{selectedEvent.description}}
            </div>
        </div>
    </div>
</div>