<div class="containor">
  <div *ngIf="!slectedGroup" class="no-group-selected">
  </div>
  <div *ngIf="slectedGroup" class="chat-container">
    <div class="chat-header">
      <div class="profile-avatar">
        <img [src]="slectedGroup ? slectedGroup.imageUrl : '../../assets/icons/icons8-group-30.png'" alt="Profile Image">
      </div>
      <div class="group-info">
        <h2>{{slectedGroup.name}}</h2>
      </div>
    </div>
    <div class="content">
      <div class="message" *ngFor="let message of messages">
        <div *ngIf="message.sender" class="others-message">
          <img [src]="message.sender.image" alt="error">
          <span class="text">{{message.message}}</span>
        </div>
        <div *ngIf="!message.sender" class="my-message">
          <span class="text">{{message.message}}</span>
        </div>
      </div>

    </div>
    <div class="message-input">
      <input type="text" placeholder="پیام">
      <button>ارسال</button>
    </div>
  </div>
  <app-show-groups (showGroup)="OpenGroup($event)"></app-show-groups>
</div>
