<div class="dialog">
    <div class="header">
        <button class="close-button" mat-button (click)="close()">
            <img src="assets/icons/close.svg">
        </button>
        <span class="title">
            دیدگاه خود را در رابطه با رویداد رخ داده ثبت کنید
        </span>
    </div>
    <form [formGroup]="form" class="content" (ngSubmit)="submit()">
        <br>
        <div class="input">
        
        <mat-form-field class="description" appearance="outline" hideRequiredMarker>
            <mat-label>توضیحات</mat-label>
            <textarea formControlName="text" matInput></textarea>
        </mat-form-field>
        <div class="rating">
            <h3>چه امتیازی می‌دهید</h3>
            <ngx-star-rating formControlName="rating" [id]="'rating'"></ngx-star-rating>
            <!-- <div>Rating: {{form.value.rating}}</div> -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        </div>
        <br>
        <br>
        <button class="post-button2" type="submit" mat-button>ایجاد</button>
        
    </div>
    </form>
    
    <!-- <div class="footer">
        <button class="save-button" mat-button (click)="Submit()">ایجاد</button>
        <button class="cancel-button" mat-button (click)="close()">لغو</button>
    </div> -->
</div>
