<div class="dialog">
    <div class="header">
        <!-- <button class="close-button" mat-button (click)="close()">
            <img src="assets/icons/close.svg">
        </button> -->
        <span class="title">
            ایجاد رویداد
        </span>
    </div>
    <form [formGroup]="formGroup" class="content">
        <div class="profile-container">
            <img class="profile" [src]="
              selectedImage
                ? selectedImage
                : '/assets/icons/group-icon.svg'
            " alt="Profile Image" />
            <div id="circle">
                <input type="file" (change)="onFileSelected($event)" accept="image/*" style="display: none"
                    #fileInput />
                <button type="button" (click)="fileInput.click()">
                    
                    <button class="add-photo" mat-stroked-button color="primary" (click)="fileInput.click()">افزودن عکس</button>
                </button>
            </div>
        </div>
        <br>
        <div class="input">
        <mat-form-field class="title" appearance="outline" hideRequiredMarker>
            <mat-label>عنوان</mat-label>
            <input formControlName="name" matInput />
            <mat-error>این قسمت را خالی نگذارید.</mat-error>
        </mat-form-field>
        
        <mat-form-field class="description" appearance="outline" hideRequiredMarker>
            <mat-label>توضیحات</mat-label>
            <textarea formControlName="description" matInput></textarea>
        </mat-form-field>
        <button class="post-button" mat-button>ایجاد</button>
    </div>
    </form>
    
    <!-- <div class="footer">
        <button class="save-button" mat-button (click)="Submit()">ایجاد</button>
        <button class="cancel-button" mat-button (click)="close()">لغو</button>
    </div> -->
</div>
