<div class="containor">
    <form class="main-form">
        <div class="navbar">
            <div class="digitalClock">
                <div class="dayTitle">
                    {{day}}
                </div>
                <div class="digitalTime>">
                    <div> {{second}} : {{minute}} : {{hour}} </div>
                    <!-- <div class="ampm">{{ampm}}</div> -->
                </div>
            </div>
        </div>
        <div class="body">
            <div class="pic">
                <img src="/assets/3956379.svg">
            </div>
            <div class="text">
                <h1>به جلالتو خوش آمدید</h1>
            </div>
        </div>
    </form>
</div>