<app-navbar></app-navbar>
<div [dir]="'rtl'" class="containor">
    <div class="text-form">
        <h1 class="title">قوانین مقررات سایت</h1><br>
        <h2>با خوش آمدگویی به جلالتو، لطفاً مقررات زیر را با دقت مطالعه کنید تا تجربه شما در این فضا، امن و مطمئن باشد:</h2><br><br>
        <div class="rule">
            <p class="text">1.   رفتار احترام‌آمیز: هرگونه اظهارنظر یا اقدامی که به تبعیض، تهدید یا اذیت دیگران منجر شود، ممنوع می‌باشد.</p><br>
            <p class="text">2. اطلاعات شخصی: همیشه از اطلاعات شخصی دیگران با احترام برخورد کنید و هرگونه سواستفاده از آن ممنوع است.</p><br>
            <p class="text">3. محتوای مجاز: هرگونه محتوای خلاف قوانین جاری، تبلیغات تقلبی یا محتوای ناپسند ممنوع است.</p><br>
            <p class="text">4. امنیت حساب کاربری: حفظ امنیت حساب کاربری شما به عهده‌ی خودتان است. رمز عبور خود را به هیچ کسی فاش نکنید.</p><br>
            <p class="text">5. گزارش مشکلات: هر گونه مشکل، نقض یا سوالی را فوراً گزارش دهید تا بتوانیم به سرعت واکنش نشان دهیم.</p><br>
            <img class="img" src="/assets/rules-clipart-background-text-alphabet-word-number-transparent-png-415666.svg">
        </div>
        
    </div>
</div>
<app-footer></app-footer>

