<div class="dialog">
    <div class="header">
        <button class="close-button" mat-button (click)="close()">
            <img src="assets/icons/close.svg">
        </button>
        <span class="title">
            {{title}}
        </span>
    </div>
    <form [formGroup]="formGroup" class="content new-reminder">
        <mat-form-field class="input-group" appearance="outline" hideRequiredMarker>
            <mat-label>عنوان</mat-label>
            <input formControlName="title" matInput />
            <mat-error>این قسمت را خالی نگذارید.</mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="type=='quick'" class="date-picker" appearance="outline" hideRequiredMarker>
            <mat-label>تاریخ را انتخاب کنید</mat-label>
            <input style="margin-top: 0.25rem;" formControlName="datePicker" matInput [matDatepicker]="datepicker" />
            <mat-error>لطفا تاریخ صحیح وارد کنید.</mat-error>
            <mat-datepicker-toggle [disableRipple]="" matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
            <mat-datepicker #datepicker>
              <mat-datepicker-actions>
                <button mat-button matDatepickerCancel>لغو</button>
                <button mat-raised-button color="primary" matDatepickerApply>
                  انتخاب
                </button>
              </mat-datepicker-actions>
            </mat-datepicker>
          </mat-form-field>

        <div class="priorty">اولویت</div>
        <mat-chip-listbox aria-label="Fish selection">
            <mat-chip-option style="width: 4rem;" #low [disabled]="low.selected">کم</mat-chip-option>
            <mat-chip-option style="width: 4rem;" #medium selected [disabled]="medium.selected">عادی</mat-chip-option>
            <mat-chip-option style="width: 4rem;" #high [disabled]="high.selected">بالا</mat-chip-option>
        </mat-chip-listbox>

        <div class="time-div">
            <span>زمان شروع :</span>
            <ngx-mat-timepicker #pickerA></ngx-mat-timepicker>
            <mat-form-field style="margin-top: 1.5rem; width: 6rem;" appearance="outline" hideRequiredMarker>
                <input formControlName="startTime" [format]="24" placeholder="12:00" style="text-align: center;"
                    [dir]="'ltr'" matInput [ngxMatTimepicker]="pickerA" readonly />
            </mat-form-field>
        </div>

        <mat-form-field style="width: 100%;" appearance="outline" hideRequiredMarker>
            <mat-label>یادداشت</mat-label>
            <textarea formControlName="notes" rows="4" matInput></textarea>
        </mat-form-field>
    </form>
    <div class="footer">

        <button class="save-button" mat-button (click)="Submit()">ذخیره</button>
        <button class="cancel-button" mat-button (click)="close()">لغو</button>

    </div>
</div>