<app-navbar></app-navbar>
<div [dir]="'rtl'" class="containor">
    <div class="text-form">
        <br>
        <h2 class="title">راه های تماس</h2>
        <h2 class="text">هر سوال، پیشنهاد یا تجربه‌ای که می‌خواهید به اشتراک بگذارید، ما در جلالتو آماده به گوش دادن هستیم. با افتخار منتظر پیام‌های شما هستیم تا با دقت و سرعت به آنها پاسخ دهیم. به اشتراک گذارید تا ما هم لحظات خوبی را با شما تجربه کنیم.</h2>
        <br><br><br>
        <h2>اطلاعات تماس</h2>
        <div class="info">
                <mat-form-field class="Username" appearance="outline" hideRequiredMarker>
                    <mat-label>آدرس</mat-label>
                    <input matInput />
                </mat-form-field><br>
                <mat-form-field class="Username" appearance="outline" hideRequiredMarker>
                    <mat-label>شماره تلفن</mat-label>
                    <input matInput />
                </mat-form-field><br>
                <mat-form-field class="Username" appearance="outline" hideRequiredMarker>
                    <mat-label>ایمیل</mat-label>
                    <input matInput />
                </mat-form-field>
        </div>
        <p></p>
    </div>
</div>
<app-footer></app-footer>
