<app-navbar></app-navbar>
<div [dir]="'rtl'" class="containor">
    <div class="text-form">
        <br>
        <h1 class="title">هدف ما</h1><br>
        <h2 class="text">با افتخار به شما خوش آمد می‌گوییم. در جلالتو، به دنبال ایجاد یک تایم لاین پویا می‌باشیم که شما را با رویدادهای روزانه آشنا کنیم. همچنین، امکان ایجاد گروه‌هایی را داریم تا لحظات خاص زندگی خود را با عزیزان خود به اشتراک بگذارید.</h2>
        <div class="img">
            <img src="/assets/4703428.jpg" width="50%"/>
        </div>
    </div>
</div>    
<app-footer></app-footer>
