<nav class="navbar">
  <div class="navbar-content">
    <div class="navbar-brand">
      <a href="#" class="navbar-logo">جلالتو</a>
    </div>


    <span>
      <ul class="navbar-menu-right">
        <li><a routerLink="/services">خانه</a></li>
        <li><a routerLink="/services">خدمات</a></li>
        <li><a routerLink="/services">درباره ما</a></li>
      </ul>
    </span>

    <span class="spacer"></span>


    <div class="notification" id="notification">
      <div class="notification-icon" *ngIf="isLoggedIn">
        <img src="../../assets/icons/notification-image.svg" alt="Notification Icon">
      </div>
    </div>

    <!-- <button onclick="showNotification()">Show Notification</button> -->


    <button mat-icon-button [matMenuTriggerFor]="menu">
      <div class="profile-icon">
        <img src="../../assets/icons/person.svg" alt="Profile Image">
      </div>
    </button>


    <mat-menu #menu="matMenu" class="menu">
      <ng-template matMenuContent>
        <!-- <img src="../../assets/icons/icons8-test-account-48.png" alt="profile icon" class="Profile Image"> -->
        <button mat-menu-item (click)="viewProfile()" *ngIf="isLoggedIn">مشاهده پروفایل</button>
        <button mat-menu-item (click)="openSettings()">تنظیمات</button>
        <div class="line" *ngIf="isLoggedIn"></div>
        <button mat-menu-item (click)="Events()" *ngIf="isLoggedIn">رویدادها</button>
        <div class="line" *ngIf="isLoggedIn"></div>
        <button mat-menu-item (click)="logout()" class="logout-button" *ngIf="isLoggedIn">
          خروج
          <!-- <img src="../../assets/icons/icons8-exit-48.png" alt="exit icon" class="exit-icon"> -->
        </button>
      </ng-template>
    </mat-menu>

  </div>
</nav>

<div class="separator-line"></div>

