<nav class="navbar">
  <div class="navbar-content">
    <div class="navbar-brand">
      <a href="#" class="navbar-logo">جلالتو</a>
    </div>

    <span>
      <ul class="navbar-menu-right">
        <li><a routerLink="/" href="./dashboard">خانه</a></li>
        <li><a routerLink="/groups">گروه ها</a></li>
        <li><a routerLink="/events">رویداد ها</a></li>
      </ul>
    </span>

    <span class="spacer"></span>

    <button class="notifBtn" (click)="clickedOnNotif()">
      <div class="notification" id="notification">
        <div class="notification-icon">
          <span class="red-circle" *ngIf="!hideRedCircle"></span>
          <img
            src="../../assets/icons/notification-image.svg"
            alt="Notification Icon"
          />
        </div>
      </div>
    </button>

    <div *ngIf="clickedOnNotification" class="notifications">
      <button class="closeNotifbtn" (click)="clickedOnNotification = false">x</button>

      <div class="notifs" *ngIf="notifications.length > 0; else noNotifications">
        <div class="notif" *ngFor="let notification of notifications">
          <div class="title">
            <div class="image">
              <img class="noif-image" [src]="notification.icon" alt="Notification Icon" />
            </div>
            <div class="name">
              {{ notification.title }}
            </div>
          </div>
          <div class="description">
            {{
              notification.description
            }}
          </div>
        </div>
      </div>
      <ng-template #noNotifications>
        <p>اعلان خوانده‌نشده ندارید</p>
      </ng-template>

    </div>

    <button
      [disabled]="!isLoggedIn"
      mat-icon-button
      [matMenuTriggerFor]="menu"
      class="profile-button"
    >
      <div class="profile-icon">
        <img src="../../assets/icons/profile2.png" alt="Profile Icon" />
      </div>
    </button>

    <mat-menu #menu="matMenu" class="menu">
      <ng-template matMenuContent>
        <div class="profile-info" *ngIf="userInfoLoaded">
          <img
            [src]="
              userProfile.imagePath == ''
                ? '../../assets/icons/icons8-test-account-48.png'
                : userProfile.imagePath
            "
            alt="Profile Image"
            class="profile-image"
          />
          <div class="user-details">
            <span class="username">{{ userProfile?.userName }}</span>
            <span class="email">{{ userProfile?.email }}</span>
          </div>
        </div>

        <button mat-menu-item (click)="viewProfile()">مشاهده پروفایل</button>
        <div class="line"></div>
        <button mat-menu-item (click)="logout()" class="logout-button">
          خروج
        </button>
      </ng-template>
    </mat-menu>
  </div>
</nav>
