<div class="dialog">
    <div class="header">
        <button class="close-button" mat-button (click)="close()">
            <img src="assets/icons/close.svg">
        </button>
        <div class="info">
            <span class="title">
                {{data.name}}
            </span>
            <img class="profile" [src]="data.imageUrl ? data.imageUrl : '/assets/icons/group-icon.svg'" alt="Profile Image" />
        </div>

    </div>
    <div class="content new-reminder">
        <div class="member" *ngFor="let member of data.members">
            <div class="group" >
                <div class="name">
                    <span class="firstname" nz-popover nzPopoverPlacement="bottomRight">{{member.userName}}</span>
                    <span class="username" nz-popover nzPopoverPlacement="bottomRight">{{member.userName}}</span>
                </div>

                <div class="img-member">
                    <span>
                        <img class="image-member" *ngIf="member.image && member.image !== ''" [src]="member.image" >
                        <img class="image-member" *ngIf="!member.image || member.image === ''" src="/assets/profile.svg">
                    </span>
                </div>
            </div>

          </div>
    </div>
</div>
