<app-navbar></app-navbar>
<div [dir]="'rtl'" class="containor">
    <div class="text-form">
        <h1 class="title">ما به دنبال همکارانی با انگیزه و استعداد هستیم!</h1>
        <h2>در جلالتو، دعوت به همکاری با افراد پرانرژی و خلاقانه را اعلام می‌کنیم. اگر شما به دنبال یک محیط پویا و موقعیت شغلی جذاب هستید، با ما همراه شوید و به جمع تیم ما بپیوندید.</h2><br>
        <h1>چرا با ما همکاری کنید؟</h1>
        <h2 class="text">- در جلالتو، ما یک خانواده هستیم و به دنبال افرادی هستیم که به ارتباطات دوستانه اهمیت می‌دهند.</h2>
        <h2 class="text">-  با ما، شما فرصت خواهید داشت تا استعدادهای خود را به چالش بکشید و در مسیر رشد حرفه‌ای خود پیشرفت کنید.</h2><br>
        <h1>چگونه به ما بپیوندید؟</h1>
        <h2 class="text">1- رزومه خود را به ایمیل [ایمیل] ارسال کنید.</h2>
        <h2 class="text">2- درخواست خود را با موضوع "فرصت شغلی - [عنوان شغلی]" ارسال کنید.</h2><br><br>
        <h2 class="text">ما منتظر دیدار با افراد متخصص و خلاق هستیم تا با هم به دنیای جلالتو ابتکار بخشیم.</h2>
    </div>
</div>    
<app-footer></app-footer>
