@import "../../theme/common.styles.scss";

.container {
  @include box-style();

  width: 100%;
  height: fit-content;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.things {
  flex: 1;
}

.timeline{
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.box {
  width: 20%;
  margin: 0.25rem;
  display: flex;
  position: relative;
  flex-direction: column;
  height: 4rem;
  color: var(--primary-text-color);
  background-color: white;
  transition: all 1s ease-out;
  border-radius: 0.5rem;
  border: 1px solid #577399;
  justify-content: center;
}

.box.hidden {
  width: 20%;
  margin: 0;
}

.box.friday{
  background-color: rgb(251, 200, 200);
}

.box:hover {
  height: 20rem;
  width: 100%;

  .dateNum {
    opacity: 0.2;
  }
}

.title{
  @include text-style(var(--primary-text-color), bold, 1.5rem);
  margin-bottom: 1rem;
}

.dateNum {
  @include text-style(var(--primary-text-color), bold, 2rem);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dateName {
  align-self: flex-start;
  margin-bottom: 0;
  margin-top: auto;
  margin-inline-start: 0.5rem;
}

.divider {
   border: 1px solid var(--primary-background-color);
   margin: 1rem;
}