@import "../../theme/common.styles.scss";

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 100%;
    transform: translateX(0);
  }
}

.container::-webkit-scrollbar {
  width: 0.25rem !important;
  height: 0.25rem !important;
}

.container {
  @include box-style();

  width: 100%;
  height: fit-content;
  border-radius: 1rem;
  display: flex;
  padding: 1rem 1rem 1rem 1.5rem;

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1rem rgb(200, 200, 200);
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--blue);
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--primary-text-color);
  }
}

.week-reminder-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 15ch;
  display: table-caption;
}

.timeline {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 2rem;

  .quick-create-container {
    display: flex;
    justify-content: space-between;

    .quick-make {
      margin-inline-start: 0.5rem;
    }
  }
}

.box {
  width: 5rem;
  height: 5rem;
  margin: 0.25rem;
  display: flex;
  position: relative;
  flex-direction: column;
  color: var(--primary-text-color);
  background-color: white;
  transition: all 0.3s ease-out;
  border-radius: 0.5rem;
  border: 1px solid #577399;
  justify-content: center;
  cursor: pointer;

  .hovered-box {
    display: none;
  }

  .add-event-btn {
    display: none;
  }

  .str-week-day {
    font-size: 0.6rem;
    margin-inline-start: 0.25rem;
    margin-inline-end: auto;
  }
}

.group-name {
  padding-bottom: 0.5rem;
  margin-top: 0.5rem;
  border-bottom: 1px solid gainsboro;
}

.box-skeleton {
  margin-bottom: 0.25rem;
}

.touch-target {
  position: absolute;
  width: 5rem;
  height: 5rem;
  z-index: 1;
}

.selected-box {
  position: absolute;
  width: 5rem;
  height: 5rem;
  border: 1px solid var(--blue);
  z-index: 1;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem var(--blue);
}

.left-pannel {
  width: 100%;
}

.selected-day {
  margin-top: 2rem;
  border-radius: 0.5rem;
  border: 1px solid var(--gray);
  box-shadow: 0 0 1rem grey;
  margin-bottom: 1rem;
  margin-right: 1rem;
  height: 38rem;

  .time-item-title {
    color: white;
    border-top-left-radius: 8px;
    border-bottom: 1px solid gray;
    font-size: 1.5rem;
    justify-content: space-around;
    display: flex;
    background-image: linear-gradient(to right, #0182ff, #00d7ff);
    align-items: center;
    height: 4rem;
    border-top-right-radius: 8px;
  }
}

.panels {
  display: flex;
  height: 30rem;

  .event-panel,
  .reminder-panel {
    width: 50%;
    padding: 0.5rem;
    margin: 1rem;
    margin-bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }

  .reminder-panel {
    .top-info {
      padding-bottom: 0.5rem;
      border-bottom: 1px solid gainsboro;
    }
  }

  .divider {
    margin: 0;
    margin-top: 1rem;
  }

  .reminder-object-container {
    @include box-style();
    box-shadow: none;
    padding: 1rem;
    margin-bottom: 0.5rem;
    opacity: 0;
    animation: slideIn 0.2s ease-out forwards;

    &:hover {
      background-color: rgb(233, 233, 233);
      cursor: pointer;
    }

    .top-info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .title {
        font-size: 1.2rem;
        max-lines: 1;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }

    .bottom-info {
      margin-top: 1rem;
      display: flex;
      justify-content: space-between;

      .notes {
        line-break: anywhere;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 40ch;
      }

      .clock {
        width: 10%;
      }
    }

    .clock {
      text-align: left;
    }

    .priority-container {
      white-space: nowrap;

      .priority {
        width: 1rem;
      }
    }
  }
}

.btn-container {
  padding-left: 1rem;
  text-align: left;
  border-top: 4px solid gray;
  padding-top: 0.75rem;

  & button {
    margin-right: 0.5rem;
  }
}

.quick-create-container {
  text-align: left;
  height: 2rem;
}

.things .title {
  @include text-style(var(--primary-text-color), bold, 1rem);
  margin: 1rem 0;
  width: max-content;
}

.dateNum {
  @include text-style(var(--primary-text-color), bold, 2rem);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dateName {
  font-size: 0.6rem;
  align-self: flex-start;
  margin-bottom: 0;
  margin-top: auto;
  margin-inline-start: auto;
  margin-inline-end: 0.5rem;
}

.divider {
  border: 1px solid var(--primary-background-color);
  margin: 1rem;
}

.historical-events {
  height: 18rem;
  margin-top: 0.5rem;
  overflow: auto;
}

.history-event-item {
  margin: 0.5rem 0;
  @include text-style(var(--primary-text-color), normal, 0.75rem);

  span:first-child {
    margin-left: 0.5rem;
  }
}

.change-week-btn {
  margin: 0.25rem;
  padding-top: 0.5rem;
  width: 4rem;
  height: 1.5rem;
}

.circle {
  display: inline-block;
  min-width: 0.5rem;
  min-height: 0.5rem;
  border-radius: 50%;
  margin-inline-end: 0.5rem;

  &.blue {
    background-color: var(--blue);
  }

  &.green {
    background-color: green;
  }
}
