<div class="container">
  <div class="things">
    <p class="title">رویداد های پیش رو</p>

    <div class="historical-events">
      <div *ngFor="let event of historicalEvents; let i = index" class="history-event-item">
        <span>{{ event.dayNum }}</span>
        <span>{{ event.event }}</span>
      </div>
    </div>

    <p class="title">یادآوری های پیش رو</p>

    <div class="historical-events">
      <div *ngFor="let event of historicalEvents; let i = index" class="history-event-item">
        <span>{{ event.dayNum }}</span>
        <span>{{ event.event }}</span>
      </div>
    </div>
  </div>

  <div class="divider"></div>

  <div class="timeline">
    <button (click)="updateTimeLine('up')" mat-button class="change-week-btn">
      <img src="../../assets/icons/up-arrow.svg" />
    </button>

    <div *ngFor="let box of currentWeek; let i = index" class="box" [ngClass]="{
        big: i === selectedBox
      }" (click)="toggleSize(i)">
      <div class="hovered-box table-header">
        <div class="title">عنوان</div>

        <div class="start-time">شروع</div>

        <div class="priority">الویت</div>

        <div class="more">بیشتر</div>
      </div>

      <div class="hovered-box divider"></div>

      <div class="hovered-box time-items">
        <div class="time-item" *ngFor="let item of timeObjects; let i = index">
          <div class="title">
            <span nz-popover nzPopoverTitle="یادداشت" [nzPopoverContent]="contentTemplate"
              nzPopoverPlacement="bottomRight">{{ item.title }}
            </span>
          </div>

          <!-- <button
            nz-popover
            nzPopoverTitle="Title"
            [nzPopoverContent]="contentTemplate"
            nzPopoverPlacement="bottom"
          >
            Bottom
          </button> -->

          <div class="start-time">
            {{ item.startTime }}
          </div>

          <div class="الویت">
            {{ item.priority }}
          </div>

          <div class="more">
            <span *ngIf="item.type == 'remainder'" class="circle blue"></span>
            <span *ngIf="item.type == 'event'" class="circle green"></span>

            <button class="edit-btn">
              <img src="../../assets/icons/edit.svg" />
            </button>

            <button class="delete-btn">
              <img src="../../assets/icons/delete.svg" />
            </button>
          </div>
        </div>
      </div>

      <div class="hovered-box title">
        <!-- <div> -->
        <!-- <span class="circle blue"></span>
          <span>رویداد</span> -->
        <button mat-raised-button class="add-event">افزودن رویداد</button>
        <button mat-raised-button (click)="AddNewReminder()" class="add-remainder">افزودن یادآوری</button>
        <!-- <button  class="add-btn">
            <img src="../../assets/icons/add-button.svg" />
          </button> -->
        <!-- </div> -->

        <!-- <div>
          <span class="circle green"></span>
          <span>یادآوری</span>
          <button class="add-btn">
            <img src="../../assets/icons/add-button.svg" />
          </button>
        </div> -->
      </div>

      <span class="remove-on-click dateNum">{{
        displayedTimeLine[i].dayNum
        }}</span>

      <span class="remove-on-click str-week-day">
        {{ diplayedDate(displayedTimeLine[i].date, false, false, false, true) }}
      </span>

      <div class="dateName">
        <span class="remove-on-click">
          {{ diplayedDate(displayedTimeLine[i].date, true, true, false, false) }}
        </span>

        <span class="hovered-box date">
          {{ diplayedDate(displayedTimeLine[i].date, true, true, true, true) }}
        </span>
      </div>
    </div>

    <button (click)="updateTimeLine('down')" mat-button class="change-week-btn reverse down">
      <img src="../../assets/icons/up-arrow.svg" />
    </button>
  </div>
</div>

<ng-template #contentTemplate>
  <div>
    <p>این یادداشتی درمورد این رویداد میباشد</p>
  </div>
</ng-template>