<div class="container">
  <div class="things">
    <p class="title">رویداد های پیش رو</p>

    <div class="historical-events">
      <div
        *ngFor="let event of historicalEvents; let i = index"
        class="history-event-item"
      >
        <span>{{ event.dayNum }}</span>
        <span>{{ event.event }}</span>
      </div>
    </div>

    <p class="title">یادآوری های پیش رو</p>

    <div class="historical-events">
      <div
        *ngFor="let event of historicalEvents; let i = index"
        class="history-event-item"
      >
        <span>{{ event.dayNum }}</span>
        <span>{{ event.event }}</span>
      </div>
    </div>
  </div>

  <div class="divider"></div>

  <div class="timeline">
    <button (click)="updateTimeLine('up')" mat-button class="change-week-btn">
      <img src="../../assets/icons/up-arrow.svg" />
    </button>

    <div
      *ngFor="let box of currentWeek; let i = index"
      class="box"
      [ngClass]="{
        big: i === selectedBox
      }"
      (click)="toggleSize(i)"
    >
      <div class="hovered-box title">
        <div>
          <span class="circle blue"></span>
          <span>رویداد</span>
          <button class="add-btn">
            <img src="../../assets/icons/add-button.svg" />
          </button>
        </div>

        <div>
          <span class="circle green"></span>
          <span>یادآوری</span>
          <button class="add-btn">
            <img src="../../assets/icons/add-button.svg" />
          </button>
        </div>
      </div>

      <div class="hovered-box table-header">
        <div class="title">عنوان</div>

        <div class="start-time">شروع</div>

        <div class="priority">الویت</div>

        <div class="more">بیشتر</div>
      </div>

      <div class="hovered-box divider"></div>

      <div class="hovered-box time-items">

        <div class="time-item" *ngFor="let item of timeObjects; let i = index">
          <div class="title">
            {{ item.title }}
          </div>

          <div class="start-time">
            {{ item.startTime }}
          </div>

          <div class="الویت">
            {{ item.priority }}
          </div>

          <div class="more">
            <span *ngIf="item.type == 'remainder'" class="circle blue"></span>
            <span *ngIf="item.type == 'event'" class="circle green"></span>

            <button class="edit-btn">
              <img src="../../assets/icons/edit.svg">
            </button>

            <button class="delete-btn">
              <img src="../../assets/icons/delete.svg">
            </button>
          </div>
        </div>
      </div>

      <span class="dateNum">{{ displayedTimeLine[i].dayNum }}</span>

      <div class="dateName">
        <!-- <span>
          {{ displayedTimeLine[i].dayName }}
        </span> -->
        <span class="dateNumSmall">{{ displayedTimeLine[i].dayName }}</span>

        <span class="hovered-box">
          {{diplayedDate(displayedTimeLine[i].date)}}
        </span>
      </div>
    </div>

    <button
      (click)="updateTimeLine('down')"
      mat-button
      class="change-week-btn reverse down"
    >
      <img src="../../assets/icons/up-arrow.svg" />
    </button>
  </div>
</div>
