.containor {
    direction: rtl;
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    background-color: #F7F7FF;

    button:disabled {
        opacity: 0.6;
    }

    .log-in-form {
        width: 25rem;
        height: 31rem;
        background-color: #fff;
        margin: 7rem 0;
        border-radius: 8px;
        box-shadow: 0 0 1rem grey;
        padding: 0 1rem;

        .log-in-title {
            font-size: 20px;
            margin-inline-start: 25px;
            margin-top: 25px;
        }

        .username-input {
            width: 100%;
            margin-top: 1rem;
        }

        .password-input {
            width: 100%;
            margin-top: 1rem;
        }

        .show-password-checkbox {
            position: relative;
            inset-inline-start: -0.5rem;
        }

        .show-password-text {
            position: relative;
            top: 1px;
            inset-inline-start: -0.5rem;
        }

        .register-button {
            width: 20rem;
            height: 2.5rem;
            background-color: #3a86ff;
            border-radius: 7px;
            margin-inline-start: 1.5rem;
            color: #fff;
            font-family: 'dana';
            margin-top: 2rem;
        }

        .redirect-to-forgetPassword-text {
            display: inline-block;
            margin-top: 2rem;
        }

        .redirect-to-forgetPassword-link {
            margin-inline-start: 0.5rem;
        }

        .redirect-to-forgetPassword-link {
            font-family: 'dana';
            color: #3a86ff;
        }
    }
}