@import "../../theme/common.styles.scss";

.containor {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    background-color: #f7f7ff;

  button:disabled {
    opacity: 0.6;
  }

  .log-in-form {
    @include box-style();
    width: 22rem;
    background-color: #fff;
    margin: 1.5rem 0;
    padding:1rem;

    .log-in-title {
      font-size: 1.25rem;
    }

    .username-input {
      width: 100%;
      margin-top: 1rem;
    }

    .password-input {
      width: 100%;
    }

    .show-password-checkbox {
      position: relative;
      inset-inline-start: -0.5rem;
    }

    .show-password-text {
      position: relative;
      top: 1px;
      inset-inline-start: -0.5rem;
    }

    .register-button {
      height: 2.5rem;
      width: 100%;
      margin-top: 1rem;
    }

    .redirect-to-forgetPassword-text {
      display: inline-block;
      margin-inline-start: 5rem;
      color: #3a86ff;
      font-size: 13px;
    }

    .redirect-to-forgetPassword-link {
      margin-inline-start: 0.5rem;
    }

    .redirect-to-forgetPassword-link {
      font-family: "dana";
      color: #3a86ff;
    }

    .redirect-to-signup {
      margin-top: 1rem;

      .redirect-to-login-link {
        color: var(--blue);
        margin-inline-start: 1rem;
      }
    }
  }
}
