@mixin box-style(){
    border-radius: 0.5rem;
    border: 1px solid var(--gray);
    box-shadow: 0 0 0.5rem grey;
}

@mixin text-style($text-color , $text-weight, $text-size){
    color: $text-color;
    font-weight: $text-weight;
    font-size: $text-size;
}

.primary-button {
    background-color: var(--blue);
    color: white !important;
    border-radius: 7px;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.error { 
    color: red;
}