<div [dir]="'rtl'" class="containor">
    <form [formGroup]="NewPasswoedForm" class="new-password-form">
        <div class="new-password-title">فراموشی رمز عبور</div>

        <div class="email-title">لطفا ایمیل خود را وارد کنید</div>

        <mat-form-field class="email-input" appearance="outline" hideRequiredMarker>
            <mat-label>ایمیل</mat-label>
            <input formControlName="email" matInput />
            <mat-error>لطفا آدرس ایمیل معتبر وارد کنید.</mat-error>
        </mat-form-field>

        <button routerLink="/forgetpassword" (click)="GetCode()" mat-button class="register-button"
            [disabled]="NewPasswoedForm.invalid">بازیابی رمز عبور
        </button>


    </form>
</div>