@import "../../theme/common.styles.scss";
// @mixin text-style($text-color , $text-weight, $text-size){

.containor {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  background-color: #f7f7ff;

  button:disabled {
    opacity: 0.6;
  }

  .sign-up-form {
    @include box-style();
    width: 22rem;
    background-color: #fff;
    margin: 1.5rem 0;
    padding:1rem;

    .sign-up-title {
      font-size: 20px;
    }

    .first-name-input {
      width: 100%;
      margin-top: 1rem;
    }

    .input-group {
      width: 100%;
    }

    .show-password-checkbox {
      position: relative;
      inset-inline-start: -0.5rem;
      top: -6px;
    }

    .show-password-text {
      position: relative;
      top: -5px;
      inset-inline-start: -0.5rem;
    }

    .date-picker {
      width: 100%;
      margin-top: 0.5rem;
    }

    .register-button {
      height: 2.5rem;
      width: 100%;
      margin-top: 1rem;
    }

    .redirect-to-login-link {
      color: var(--blue);
    }
  }

  .redirect-to-login-link {
    margin-inline-start: 0.5rem;
  }

  .redirect-to-login-link {
    font-family: "dana";
    color: var(--blue);
  }

  .center.redirect-to-signin {
    margin-top: 0.5rem;
  }
}

.email-verification-box {
  @include box-style();
  max-width: 25rem;
  padding: 1rem;
  background-color: white;

  .desc {
    @include text-style(black, normal, 1rem);
  }

  .enter-code {
    padding-top: 0.5rem ;
  }

  .verificate {
    margin-top: 2rem;
  }
}

.notif-box {
  @include box-style();
  position: absolute;
  top: 1rem;
  inset-inline-start: 1rem;
  width: fit-content;
  padding-top: 1rem;

  .title {
    @include text-style(black, bold, 1.25rem);
    margin: 1rem;
  }

  .message {
    margin: 0.5rem 1rem;
  }

  .redirect {
    margin-top: 0.5rem;
    @include text-style(black, bold, 1rem);
  }
}

.succus {
  background-color: rgb(174, 252, 191);
}

.fail {
  background-color: rgb(247, 211, 211);
  .redirect-btn {
    margin: 1rem;
  }
}