@import "../../theme/common.styles.scss";
// @mixin text-style($text-color , $text-weight, $text-size){

.containor {
  direction: rtl;
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;

  button:disabled {
    opacity: 0.6;
  }

  .sign-up-form {
    @include box-style();
    width: 25rem;
    background-color: #fff;
    border-radius: 8px;
    padding: 1rem 1rem;

    .sign-up-title {
      font-size: 20px;
      margin-inline-start: 25px;
      margin-top: 25px;
    }

    .email-input {
      width: 100%;
      margin-top: 2rem;
    }

    .username-input {
      width: 100%;
      margin-top: 1rem;
    }

    .password-input {
      width: 100%;
      margin-top: 1rem;
    }

    .show-password-checkbox {
      position: relative;
      inset-inline-start: -0.5rem;
    }

    .show-password-text {
      position: relative;
      top: 1px;
      inset-inline-start: -0.5rem;
    }

    .register-button {
      height: 2.5rem;
      margin-top: 2rem;
    }

    .redirect-to-login{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 1rem;
    }

    .redirect-to-login-link {
      margin-inline-start: 0.5rem;
    }

    .redirect-to-login-link {
      font-family: "dana";
      color: var(--blue);
    }
  }
}

.email-verification-box {
  @include box-style();
  max-width: 25rem;
  padding: 1rem;

  .desc {
    @include text-style(black , normal , 1rem);
  }

  .enter-code {
    padding: 0.5rem 0;
  }

  .verificate{
    margin-top: 2rem;
  }
}

.notif-box{
  @include box-style();
  position: absolute;;
  top: 1rem;
  inset-inline-start: 1rem;
  width:fit-content;
  padding-top: 1rem ;

  .title{
    @include text-style(black , bold , 1.25rem);
    margin: 1rem;
  }

  .message{
    margin: 0.5rem 1rem;

  }

  .redirect {
    margin-top: 0.5rem;
    @include text-style(black , bold , 1rem);

  }
}

.succus{
  background-color: rgb(174, 252, 191);
}

.fail{
  background-color: rgb(247, 211, 211);
  .redirect-btn {
    margin: 1rem;
  }
}