<div [dir]="'rtl'" class="containor">
  <!-- !isSignedClicked && !signUpSuccus && !signUpFail -->
  <form *ngIf="!isSignedClicked && !signUpSuccus && !signUpFail" [formGroup]="signUpForm" class="sign-up-form">
    <div class="sign-up-title">ساخت حساب کاربری</div>

    <mat-form-field class="first-name-input" appearance="outline" hideRequiredMarker>
      <mat-label>نام</mat-label>
      <input formControlName="firstName" matInput />
      <mat-error>لطفا نام خود را وارد کنید.</mat-error>
    </mat-form-field>

    <mat-form-field class="input-group" appearance="outline" hideRequiredMarker>
      <mat-label>نام خانوادگی</mat-label>
      <input formControlName="lastName" matInput />
      <mat-error>لطفا نام خانوادگی خود را وارد کنید.</mat-error>
    </mat-form-field>

    <mat-form-field class="input-group" appearance="outline" hideRequiredMarker>
      <mat-label>نام کاربری</mat-label>
      <input formControlName="userName" matInput />
      <mat-error>نام کاربری شامل حداقل 3 کاراکتر است.</mat-error>
    </mat-form-field>

    <mat-form-field class="input-group" appearance="outline" hideRequiredMarker>
      <mat-label>ایمیل</mat-label>
      <input formControlName="mail" matInput />
      <mat-error>لطفا آدرس ایمیل معتبر وارد کنید.</mat-error>
    </mat-form-field>

    <mat-form-field class="input-group" appearance="outline" hideRequiredMarker>
      <mat-label>کلمه‌ی عبور</mat-label>
      <input [type]="passwordVisibility.checked ? 'text' : 'password'" formControlName="password" matInput />
      <mat-error>گذرواژه شامل حداقل 8 کاراکتر یک حرف بزرگ و یک عدد است.</mat-error>
    </mat-form-field>

    <mat-checkbox class="show-password-checkbox" disableRipple="true" #passwordVisibility></mat-checkbox>
    <span class="show-password-text">نمایش گذرواژه</span>

    <mat-form-field class="date-picker" appearance="outline" hideRequiredMarker>
      <mat-label>تاریخ تولد خود را انتخاب کنید</mat-label>
      <input formControlName="birthday" matInput [matDatepicker]="datepicker" />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-error>لطفا تاریخ صحیح وارد کنید.</mat-error>
      <mat-datepicker-toggle [disableRipple]="" matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
      <mat-datepicker #datepicker>
        <mat-datepicker-actions>
          <button mat-button matDatepickerCancel>لغو</button>
          <button mat-raised-button color="primary" matDatepickerApply>
            انتخاب
          </button>
        </mat-datepicker-actions>
      </mat-datepicker>
    </mat-form-field>

    <button (click)="Submit()" mat-button class="register-button primary-button">
      ثبت نام
    </button>

    <div class="center redirect-to-signin">
      <span class="redirect-to-login-text">آیا حساب کاربری دارید؟</span>
      <button routerLink="/login" type="button" mat-button class="redirect-to-login-link">
        ورود با حساب کاربری
      </button>
    </div>
  </form>

  <!-- isSignedClicked || signUpSuccus || signUpFail -->
  <div *ngIf="isSignedClicked || signUpSuccus || signUpFail" class="email-verification-box">
    <span class="desc">کد فعال‌سازی حساب کاربری به ایمیل شما ارسال شد. اگر ظرف چند دقیقه ایمیل
      را دریافت نکردید، پوشه اسپم خود را بررسی کنید</span>

    <div>
      <p class="enter-code">کد را وارد نمایید :</p>

      <ngx-otp-input [dir]="'ltr'" [config]="otpInputConfig" (otpChange)="handeOtpChange($event)"
        (fill)="handleFillEvent($event)">
      </ngx-otp-input>

      <button *ngIf="appearBtn" (click)="verification()" mat-button class="primary-button verificate full-width-btn">
        تایید
      </button>
    </div>
  </div>

  <div class="notif-box succus" *ngIf="signUpSuccus" [@fadeInOut]>
    <span class="title">ثبت نام شما با موقفیت انجام شد</span>
    <p class="message">در حال انتقال به صفحه ورود</p>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>

  <div class="notif-box fail" *ngIf="signUpFail" [@fadeInOut]>
    <span class="title">ثبت نام شما انجام نشد</span>

    <p class="message">لطفا کد ارسال شده را به درستی وارد نمایید</p>

    <div class="redirect-btn">
      <button routerLink="signup" mat-button class="primary-button full-width-btn">
        برگشت به صفحه ثبت نام
      </button>
    </div>
  </div>
</div>