@import "../../theme/common.styles.scss";
// @mixin text-style($text-color , $text-weight, $text-size){

.containor {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  background-color: #f7f7ff;

  button:disabled {
    opacity: 0.6;
  }

  .sign-up-form {
    @include box-style();
    width: 22rem;
    background-color: #fff;
    margin: 1.5rem 0;
    padding: 1rem;

    .sign-up-title {
      font-size: 20px;
    }

    .first-name-input {
      width: 100%;
      margin-top: 1rem;
    }

    .input-group {
      width: 100%;
    }

    .show-password-checkbox {
      position: relative;
      inset-inline-start: -0.5rem;
      top: -6px;
    }

    .show-password-text {
      position: relative;
      top: -5px;
      inset-inline-start: -0.5rem;
    }

    .date-picker {
      width: 100%;
      margin-top: 0.5rem;
    }

    .register-button {
      height: 2.5rem;
      width: 100%;
      margin-top: 1rem;
    }

    .redirect-to-login-link {
      color: var(--blue);
    }
  }

  .redirect-to-login-link {
    margin-inline-start: 0.5rem;
  }

  .redirect-to-login-link {
    font-family: "dana";
    color: var(--blue);
  }

  .center.redirect-to-signin {
    margin-top: 0.5rem;
  }
}

.email-verification-box {
  @include box-style();
  max-width: 25rem;
  padding: 1rem;
  background-color: white;

  .desc {
    @include text-style(black, normal, 1rem);
  }

  .enter-code {
    padding-top: 0.5rem;
  }

  .verificate {
    margin-top: 2rem;
  }
}

.notif-box {
  @include box-style();
  position: absolute;
  top: 1rem;
  inset-inline-start: 1rem;
  width: fit-content;
  padding-top: 1rem;

  .title {
    @include text-style(black, bold, 1.25rem);
    margin: 1rem;
  }

  .message {
    margin: 0.5rem 1rem;
  }

  .redirect {
    margin-top: 0.5rem;
    @include text-style(black, bold, 1rem);
  }
}

.succus {
  background-color: rgb(174, 252, 191);
}

.fail {
  background-color: rgb(247, 211, 211);
  .redirect-btn {
    margin: 1rem;
  }
}
html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  outline: none;
}

html {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-smooth: auto;
  font-weight: 300;
  line-height: 1.5;
  color: #444;
}

.loader {
  position: relative;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 2px;
  width: 3rem;
  height: 3rem;
}

.loader-container {
  left: 50%;
  position: fixed;
  top: 45%;
}

.loader > div {
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--blue);
  transform: scale(0);
  transform-origin: center center;
  animation: loader 2s infinite linear;
}
.loader > div:nth-of-type(1), .loader > div:nth-of-type(5), .loader > div:nth-of-type(9) {
  animation-delay: 0.4s;
}
.loader > div:nth-of-type(4), .loader > div:nth-of-type(8) {
  animation-delay: 0.2s;
}
.loader > div:nth-of-type(2), .loader > div:nth-of-type(6) {
  animation-delay: 0.6s;
}
.loader > div:nth-of-type(3) {
  animation-delay: 0.8s;
}

@keyframes loader {
  0% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}