<div [dir]="'rtl'" class="containor">
    <form class="profile-form">
        <div class="navbar">
            <div class="digitalClock">
                <div class="dayTitle">
                    {{day}}
                </div>
                <div class="digitalTime>">
                    <div> {{second}} : {{minute}} : {{hour}} </div>
                    <!-- <div class="ampm">{{ampm}}</div> -->
                </div>
            </div>
        </div>
        <div class="big-photo">
            <img src="src\app\profile\photo\2012.i402.021_Planning_and_scheduling_flat_composition.jpg">
        </div>
        <div class="info">
            <h1 class="title">درباره کاربر</h1>
            <p>نام</p>
            <input class="input">
            <br><br>
            <p>نام خانوادگی</p>
            <input class="input">
            <br><br>
            <p>تاریخ تولد</p>
            <input class="input">
            <br><br>
            <p>ایمیل</p>
            <input class="input">
            <br><br>
            <p>کلمه عبور</p>
            <input class="input">
        </div>
        <div class="profile">
            <img src="/assets/SL_100820_36440_10.svg">
        </div>    
    </form>    
</div>
