<div [dir]="'rtl'" class="containor">
    <div class="profile-form">
        <!-- <div class="navbar">
            <div class="digitalClock">
                <div class="dayTitle">
                    {{day}}
                </div>
                <div class="digitalTime>">
                    <div> {{second}} : {{minute}} : {{hour}} </div>
                </div>
            </div>
        </div> -->

        <div class="info">

            <h1 class="title">درباره کاربر</h1>
            <br>
            <div>
                
                <mat-form-field class="Username" appearance="outline" hideRequiredMarker>
                    <mat-label>نام کاربری</mat-label>
                    <input disabled="true" [(ngModel)]="data.UserName" matInput/>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="FirstName" appearance="outline" hideRequiredMarker>
                    <mat-label>نام</mat-label>
                    <input [(ngModel)]="data.FirstName" matInput/>
                </mat-form-field>
            </div>
            <div>
                
                
                <mat-form-field class="LastName" appearance="outline" hideRequiredMarker>
                    <mat-label>نام خانوادگی</mat-label>
                    <input [(ngModel)]="data.LastName" matInput/>
                </mat-form-field>
            </div>
            
            <div>
                <mat-form-field class="Birthday" appearance="outline" hideRequiredMarker>
                    <mat-label>تاریخ تولد</mat-label>
                    <input [(ngModel)]="data.Birthday" matInput/>
                </mat-form-field>
            </div>
            <div>
                
                <mat-form-field class="Email" appearance="outline" hideRequiredMarker>
                    <mat-label>ایمیل</mat-label>
                    <input [disabled]="true" [(ngModel)]="data.Email" matInput/>
                </mat-form-field>
            </div>


            <div>
                <button (click)="submit()" type="button" mat-button class="register-button primary-button">
                    ثبت تغییرات
                </button>
            </div>
        </div>

        <!-- <div class="pic">
          <img class="profile" [src]="selectedImage ? selectedImage : '/assets/SL_100820_36440_10-Recovered.svg'" alt="Profile Image">
          <div id="circle">
              <input type="file" (change)="onFileSelected($event)" accept="image/*" style="display: none;" #fileInput>
              <button (click)="fileInput.click()">
                  <img class="edit" src="/assets/icons8-camera-24.svg" alt="Upload Image">
              </button> -->
              <!-- <button (click)="removePhoto()">
                <img class="remove" src="/assets/icons8-camera-24.svg" alt="Remove Image">
            </button> -->
          <!-- </div>
      </div> -->

      <div class="pic">
        <div class="profile-container" (click)="removePhoto()">
            <img class="profile" [src]="selectedImage ? selectedImage : '/assets/SL_100820_36440_10-Recovered.svg'" alt="Profile Image">
            <div id="circle">
                <input type="file" (change)="onFileSelected($event)" accept="image/*" style="display: none;" #fileInput>
                <button (click)="fileInput.click()">
                    <img class="edit" src="/assets/icons8-camera-24.svg" alt="Upload Image">
                </button>
            </div>
        </div>
    </div>


      <!-- <div class="pic">
        <div class="profile-picture" (click)="removePhoto()">
            <img class="profile" [src]="selectedImage ? selectedImage : '/assets/SL_100820_36440_10-Recovered.svg'" alt="Profile Image">
            <div id="circle">
                <input type="file" (change)="onFileSelected($event)" accept="image/*" style="display: none;" #fileInput>
                <button (click)="fileInput.click()">
                    <img class="edit" src="/assets/icons8-camera-24.svg" alt="Upload Image">
                </button>
            </div>
        </div>
    </div> -->

    <!-- <div class="pic">
      <div class="profile-picture" (click)="removePhoto()">
          <img class="profile" [src]="selectedImage ? selectedImage : '/assets/SL_100820_36440_10-Recovered.svg'" alt="Profile Image">
          <div id="circle">
              <input type="file" (change)="onFileSelected($event)" accept="image/*" style="display: none;" #fileInput>
              <button (click)="fileInput.click()">
                  <img class="edit" src="/assets/icons8-camera-24.svg" alt="Upload Image">
              </button>
          </div>
      </div>
      <button *ngIf="selectedImage" class="remove-button" (click)="removePhoto()">
          <img class="remove" src="../../assets/icons8-trash.svg" alt="Remove Image">
      </button>
  </div>
-->



    </div>
</div>


