@import "../../theme/common.styles.scss";

// .main-form {
//     @include box-style();
//     width: 120vh;
//     background-color: #fff;
//     margin: 1.5rem 0;

//     .navbar {
//         width: 100%;
//         height: 50px;
//         border: 0px solid;
//         background-color: bisque;
//         position: relative;

//         .digitalClock {
//             position: relative;
//             justify-content: left;
//             height: 100vh;
//             width: 100vw;
//             margin-inline-start: 90%;
//             text-transform: uppercase;
//             display: flex;
//             flex-direction: column;

//         }

//         .dayTitle {
//             align-content: left;
//             justify-content: left;
//             font-size: 12px;
//             margin-bottom: 10px;
//         }

//         .digitalTime {
//             display: flex;
//             position: relative;
//         }

//         .appm {
//             margin-top: 10px;
//             font-size: 10px;
//         }
//     }

    .body {
        display: flex;

        .pic {
            position: relative;

            img {
                margin-top: 5vh;
                width: 900px;
                margin-right: 50vh;
            }
        }

        .text {
            font-size: 40px;
            position: relative;
            margin-top: 30vh;
            margin-right: 5vh;
        }

        .register-button {
            margin-right: 18vh;
            margin-top: 3vh;
        }
    }



