<app-navbar></app-navbar>
<div *ngIf="!isLoggedIn" class="body">
  
  <div class="pic">
      <img src="/assets/3956379-Recovered.png">
  </div>
  <div>
      <div class="title">
          <p>به جلالتو خوش آمدید</p>
      </div>
      <h2 class="text">برای ثبت رویداد ها و به اشتراک گذاری آنها با دوستان<br> به صفحه ی شخصی خود وارد شوید.</h2>
      <div>
        <button type="button" routerLink="/login" mat-button class="register-button primary-button">
          ورود
        </button>
      </div>
    </div>

  

<div *ngIf="isLoggedIn">
  <app-navbar></app-navbar>

  <div class="th-container">
    <div class="content timeline">
      <app-timeline></app-timeline>
    </div>
    <div style="width: 30vw; min-width: 20.5rem; padding-inline-end: 1rem;">
      <div [dir]="'rtl'" class="clock containor">
        <div class="body">
          <div class="digitalClock">
            <div class="digitalTime>">
              <div>{{ hour }} : {{ minute }} : {{ second }}</div>
            </div>
            <div class="dayTitle">
              {{ day }} {{ jalaliDay }} {{ jalaliMonth }} {{ jalaliYear }}
            </div>
          </div>
        </div>
      </div>
      <app-show-groups></app-show-groups>
    </div>
  </div>

  <app-footer></app-footer>
</div>
<app-footer></app-footer>