@import "../../theme/common.styles.scss";

.first-page {
  flex-direction: column;
  display: flex;
  min-height: 100vh;

  .preview {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .title
  {
    font-size: 40px;
  }
  .pic {
    position: relative;

    & img {
      width: 550px !important;
    }
  }
  .text
  {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.timeline-container {
  padding: 1rem;
  gap: 1rem;
  display: flex;

  .timeline {
    width: 65%;
  }

  .left-panel {
    width: 35%;
  }

  .digitalClock{
    margin: 5rem 0;
    color: var(--primary-text-color);
  }

  .digitalTime {
    text-align: center;
    font-size: 3rem;
  }

  .dayTitle {
    margin: 2rem;
    text-align: center;
    font-size: 1.5rem;
  }
}
