<div>
<div>
<div *ngIf="!isLoggedIn" class="first-page">
  <app-navbar></app-navbar>
  <div class="preview">
    <div class="pic">
      <img class="calendar-pic" src="/assets/3970925.svg" />
    </div>
      <div class="title">
        <p>به جلالتو خوش آمدید</p><br>
        <h2 class="text">
          برای ثبت رویداد ها و به اشتراک گذاری آنها با دوستان<br />
          به صفحه ی شخصی خود وارد شوید.
        </h2>
        <div class="button">
          <button
            type="button"
            routerLink="/login"
            mat-button
            class="login-button primary-button"
          >
            ورود
          </button>
          <button
            type="button"
            routerLink="/signup"
            mat-button
            class="signup-button primary-button"
          >
            ثبت نام
          </button>
        </div>

      </div>
    </div>
    <div class="data">
      <div class="outer3">
        <h2 class="title">کاربران</h2>
        <p class="number">{{data.UsersCount}}</p>
        <div class="inner3">
          <img class="img1" src="/assets/smile.png">
        </div>


      </div>
      <div class="outer2">
        <h2 class="title">گروه‌ها</h2>
        <p class="number">{{data.GroupCount}}</p>
        <div class="inner2">
          <img class="img1" src="/assets/group1.png">
        </div>
      </div>
      <div class="outer4">
        <h2 class="title">رویدادها</h2>
        <p class="number">{{data.EventCount}}</p>
        <div class="inner4">
          <img class="img1" src="/assets/event1.png">
        </div>


      </div>
      <div class="outer1">
        <h2 class="title">یاداروی‌ها</h2>
        <p class="number">{{data.ReminderCount}}</p>
        <div class="inner1">
          <img class="img1" src="/assets/reminder1.png">
        </div>
      </div>
    </div>
    <div class="body">
      <div>
        <h1 class="service">خدمات سایت</h1>
        <div class="items">
          <div class="item1">
            <img class="img" src="/assets/event.png">
            <h2 class="font">ثبت رویداد</h2>
          </div>
          <div class="item2">
            <img class="img" src="/assets/reminder.png">
            <h2 class="font">افزودن یاداوری</h2>
          </div>
          <div class="item3">
            <img class="img" src="/assets/group.png">
            <h2 class="font">ثبت رویداد های گروهی</h2>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
  
  <div class="spacer"></div>

  
</div>

<div *ngIf="isLoggedIn">
  <app-navbar (logedOut)="logOut($event)"></app-navbar>

  <div class="timeline-container">
    <div class="timeline">
      <app-timeline></app-timeline>
    </div>

    <div class="clock-container">
      <figure class="clock">
        <div class="face top">
          <p id="s">{{ seconds }}</p>
        </div>
        <div class="face front">
          <p id="m">{{ minutes }}</p>
        </div>
        <div class="face left">
          <p id="h">{{ hours }}</p>
        </div>
      </figure>

      <div class="dayTitle">
        <div>{{ day }} {{ jalaliDay }} {{ jalaliMonth }} {{ jalaliYear }}</div>
        <div>{{ formattedDate }}</div>
      </div>

      <p class="most-popular-groups-title">محبوب ترین گروه ها</p>
      <div *ngIf="!isLoadingGroup" class="card-slider">
        <input type="radio" id="1" name="sld" />
        <label for="1">
          <div class="container" mat-raised-button>
            <div class="pop-group-name">
              {{ popularGroups[0].name }}
            </div>

            <img
              [src]="
                popularGroups[0].imageUrl == ''
                  ? '../../assets/icons/icons8-test-account-48.png'
                  : popularGroups[0].imageUrl
              "
              class="profile-image"
            />
          </div>
        </label>

        <input type="radio" id="2" name="sld" checked/>

        <label for="2">
          <div class="container" mat-raised-button matBadge = {{popularGroups[1].members.length}}>
            <div class="pop-group-name">
              {{ popularGroups[1].name }}
            </div>

            <img
              [src]="
                popularGroups[1].imageUrl == ''
                  ? '../../assets/icons/icons8-test-account-48.png'
                  : popularGroups[1].imageUrl
              "
              class="profile-image"
            />
          </div>
        </label>

        <input type="radio" id="3" name="sld" />
        <label for="3">
          <div class="container" mat-raised-button matBadge = {{popularGroups[2].members.length}}>
            <div class="pop-group-name">
              {{ popularGroups[2].name }}
            </div>

            <img
              [src]="
                popularGroups[2].imageUrl == ''
                  ? '../../assets/icons/icons8-test-account-48.png'
                  : popularGroups[2].imageUrl
              "
              class="profile-image"
            />
          </div>
        </label>

      </div>

      <div class="popular-groups-skeleton" *ngIf="isLoadingGroup">
        <nz-skeleton-element class="item"
        nzType="button"
        [nzActive]="elementActive"
        [nzSize]="elementSize"
        [nzShape]="buttonShape"
      ></nz-skeleton-element>
      <nz-skeleton-element class="item"
        nzType="button"
        [nzActive]="elementActive"
        [nzSize]="elementSize"
        [nzShape]="buttonShape"
      ></nz-skeleton-element>
      <nz-skeleton-element class="item"
        nzType="button"
        [nzActive]="elementActive"
        [nzSize]="elementSize"
        [nzShape]="buttonShape"
      ></nz-skeleton-element>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
