@import "../../theme/common.styles.scss";

.most-popular-groups-container {
  @include box-style();
  display: flex;
  overflow: hidden;
  padding-inline-start: 1rem;
  scroll-behavior: smooth;
  overflow: auto;

  ::-webkit-scrollbar {
    height: 4px;
    width: 4px;
    background: gray;
  }
  
  ::-webkit-scrollbar-thumb:horizontal {
    border-radius: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1rem rgb(200, 200, 200);
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--blue);
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--primary-text-color);
  }
}

.popular-groups-container {
  display: flex;
}

.group {
  display: flex;
  margin: 1rem 0;
  margin-inline-end: 1.5rem;

  .prof {
    img {
      width: 4rem;
      border-radius: 7px;
    }
  }
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-inline-start: 0.5rem;

  & .name {
    font-size: 1rem;
  }

  & .members-count {
    width: max-content;
  }
}
