@import "../src/assets/fontiran.css";
@import "theme/default-theme.styles.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  letter-spacing: 0 !important;
}

html {
  font-family: dana !important;

  * {
    font-family: dana !important;
  }

  --mat-datepicker-calendar-date-focus-state-background-color: #BDD5EA !important;
  --mat-datepicker-calendar-date-hover-state-background-color : #BDD5EA !important;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@import "app/shared/material.scss";