<div class="dialog">
    <div class="header">
        <button class="close-button" mat-button (click)="close()">
            <img src="assets/icons/close.svg">
        </button>
        <span class="title">
            نظرات
        </span>
    </div>
    <div class="content new-reminder">
        <ng-container *ngIf="reviews.length> 0 ">
            <div class="member" *ngFor="let member of reviews">
                <div class="group" >
                    <div class="name">
                        <span class="firstname" nz-popover nzPopoverPlacement="bottomRight">{{member.id}}</span>
                    </div>
    
                    <div class="comment-member">
                        <div>نظر : </div>
                        <span class="text">{{member.text}}</span>
                        <div>امتیاز داده شده:</div>
                        <span>{{member.score}}</span>
                    </div>
                </div>
              </div>
        </ng-container>

        <ng-container *ngIf="reviews.length == 0">
            <div class="group">
                هیچ نظری موجود نمی باشد.
            </div>
        </ng-container>
    </div>
    <div class="footer">

    </div>
</div>

