.containor {
    direction: rtl;
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    background-color: #bfdbf7;


    button:disabled {
        opacity: 0.6;
    }

    .forget-password-form {
        width: 25rem;
        height: 27rem;
        background-color: #fff;
        margin: 7rem 0;
        border-radius: 8px;
        box-shadow: 0 0 1rem grey;
        padding: 0 1rem;

        .forget-password-title {
            font-size: 20px;
            margin-inline-start: 25px;
            margin-top: 25px;
        }

        .recived-code {
            width: 100%;
            margin-top: 2rem;
        }

        .new-password-input {
            width: 100%;
            margin-top: 1rem;
        }

        .confrim-password-input {
            width: 100%;
            margin-top: 1rem;
        }

        .show-password-checkbox {
            position: relative;
            inset-inline-start: -0.5rem;
        }

        .show-password-text {
            position: relative;
            top: 1px;
            inset-inline-start: -0.5rem;
        }

        .register-button {
            width: 20rem;
            height: 2.5rem;
            background-color: #3a86ff;
            border-radius: 7px;
            margin-inline-start: 1.5rem;
            color: #fff;
            font-family: 'dana';
            margin-top: 2rem;
        }

    }
}