<div [dir]="'rtl'" class="containor">
    <form [formGroup]="ForgetPasswordform" class="forget-password-form">
        <div class="forget-password-title">تغییر رمز عبور </div>

        <mat-form-field class="new-password-input" appearance="outline" hideRequiredMarker>
            <mat-label>کلمه‌ی عبور جدید</mat-label>
            <input [type]="passwordVisibility.checked ? 'text' : 'password'" formControlName="password" matInput />
            <mat-error>لطفا کلمه‌ی عبور جدید خود را وارد کنید.</mat-error>
        </mat-form-field>


        <mat-form-field class="confrim-password-input" appearance="outline" hideRequiredMarker>
            <mat-label>تایید کلمه‌ی عبور</mat-label>
            <input [type]="passwordVisibility.checked ? 'text' : 'password'" formControlName="password" matInput />
        </mat-form-field>

        <mat-checkbox class="show-password-checkbox" disableRipple="true" #passwordVisibility></mat-checkbox>
        <span class="show-password-text">نمایش گذرواژه</span>

        <button mat-button class="register-button" [disabled]="!ForgetPasswordform.valid">ثبت </button>


    </form>
        
</div>
