@import "../../theme/common.styles.scss";

.containor {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  background-color: #f7f7ff;

  button:disabled {
    opacity: 0.6;
  }

  .forget-password-form {
    @include box-style();
    width: 22rem;
    background-color: #fff;
    margin: 1.5rem 0;
    padding: 1rem;

    .forget-password-title {
      font-size: 20px;
    }

    .recived-code {
      width: 100%;
      margin-top: 2rem;
    }

    .new-password-input {
      width: 100%;
    }

    .confrim-password-input {
      width: 100%;
    }

    .show-password-checkbox {
      position: relative;
      inset-inline-start: -0.5rem;
    }

    .show-password-text {
      position: relative;
      top: 1px;
      inset-inline-start: -0.5rem;
    }

    .register-button {
      height: 2.5rem;
      width: 100%;
      margin-top: 1rem;
    }
  }
}
